 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

 }
 #grid{
    margin: auto;
    display: grid;
    background-size: cover;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,fr);
    gap: 10px;
    width: 400px;
    height: 300px;
    justify-content:center;
    align-items: center;
    


} 
img{
    margin: auto;
    width: 100px;
    border-radius: 5%;
    justify-self: center;
    align-items: center;
}
h4{
    margin: 25px;
    font-size:larger;
    display: flex;
    justify-content: center;
    align-items: center;


}
