body{
    margin: 0;
    display: flex;
    background-color: rgba(142, 145, 47, 0.726);
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    background-color:olive;
    width: 850px;
    height: 800px;
    padding: 15px;
    border-radius: 15px;
   
}


.card{
    flex: 25%;
    background-color: aliceblue;
    height: 150px;
    border: 15px olive;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}